.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #0000007a;
  background-color: var(--clrPrimary3);
  color: #000000;

  font-size: 1.5rem;
}

.app-header h1 {
  font-family: cursive;
  letter-spacing: 0.05em;
  margin: 0.2em;
  cursor: pointer;
  transition: scale .2s;
}

.app-header h1:hover {
  scale: 1.02;
}

.app-header h1 span {
  color: var(--clrPrimary4);
}

.app-header h5 {
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.7em;
  background-color: var(--clrPrimary1);
  margin: 0;
}

.app-header .user-img {
  width: 20px;
  border-radius: 50%;
  margin-inline-end: 0.2em;
}

.app-header .menu-img {
  width: 50px;
  border-radius: 50%;
  margin-inline-end: 0.2em;
  cursor: pointer;
}

.app-header nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 200px;
  height: 100vh;
  background-color: var(--clrPrimary1);
  z-index: 1;

  display: flex;
  flex-direction: column;

  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);

  transition: right 0.3s ease-out;
}

body.menu-open .app-header nav {
  right: 0
}

.app-header nav>*:not(:first-child) {
  transition: .05s;
  padding: 0.5em;
}

.app-header nav>*:first-child {
  margin: 0.5em;
}

.app-header .router-link-active:not(.logo, .user) {
  color: white;
}