.todo-list {
    background-color: var(--clrPrimary4);
    padding-block: 0.5em;
    padding-inline-start: 1em;
    border-radius: 1em;
    animation: backInUp 1000ms;
}

.todo-list ul li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-block: 1em;
    transition: .3s;
    border-radius: 1em;
}

.todo-list ul li:hover {
    background-color: var(--clrPrimary1);
}

.todo-list ul li:hover h3 {
    color: white;
}

.todo-list ul li .btn-remove {
    cursor: pointer;
    transition: .3s;
    margin-inline-end: 0.5em;
}

.todo-list ul li .btn-remove:hover {
    opacity: 0.8;
    scale: 1.2;
}

.todo-list .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}