.todo-list {
    background-color: var(--clrPrimary4);
    padding: 0em 2em;
    padding-inline-start: 1em;
    border-radius: 1em;
}

.todo-list ul li {
    display: flex;
    justify-content: space-between;
    margin-block: 1.5em;
}

.todo-list ul li .btn-remove {
    cursor: pointer;
    transition: .3s;
}

.todo-list ul li .btn-remove:hover {
    opacity: 0.8;
    scale: 1.2;
}