.user-msg {
    position: fixed;
    bottom: 50px;
    left: 20px;

    display: flex;
    justify-content: space-between;

    font-size: 1.2rem;
    font-family: sans-serif;

    background-color: white;
    color: var(--clr3);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.user-msg > *:not(:first-child) {
    cursor: pointer;

}   
.user-msg.error {
    background-color: rgb(187, 104, 104);
}

.user-msg button {
    background: none;
    border: none;
    color: var(--secondary-clr1);
    font-weight: bold;
    margin-inline: 2em;
}

.user-msg span {
    font-size: 19px;
}